{% extends '/advertisement/header.html.twig' %}
{% block body %}
    {% if(products) %}
        <div class="container"><br />
            <div class="navigation">
                <p>{{ knp_pagination_render(products) }}</p>
            </div>
            <div class="row" style="margin-top: 50px">
                {% for product in products %}
                    <div class="col-sm" align="center" style="margin-bottom: 50px; margin-right: 10px;">
                        <a href="{{ path('check_product', {'pageName': product.customUrl}) }}">
                            <img width="300" height="300" src="../../../../../uploads/image/{{ product.image }}" alt="">
                            <p style="color: black"><strong>{{ product.name }}</strong></p>
                            <p style="color: black"><strong>€{{ product.price }}</strong></p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}