{% extends 'base.html.twig' %}

{% block categories %}
    {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('showcategories', {'id': category.id}) }}">{{ category.name }}</a>
        </li>
    {% endfor %}
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('myitems') }}">My Items</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    {% if(products) %}
    <div>
        <p>All products</p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">User name</th>
            <th scope="col">Category</th>
            <th scope="col">Content</th>
            <th scope="col">Price</th>
            <th scope="col">Available quantity</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('checkproduct', {'id': product.id}) }}" class="card-link">{{ product.name }}</a></td>
                <td>{{ product.seller.firstname }} {{ product.seller.lastname }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.content }}</td>
                <td>{{ product.price }} Euro</td>
                <td>{{ product.availablequantity }}</td>
                <td><img width="50" height="50" src="../../../../../uploads/image/{{ product.image }}" alt=""></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}