{% extends '/advertisement/header.html.twig' %}
{% block body %}
    <div><a class="btn btn-primary" href="{{ path('exceluser') }}">Excel file</a></div>
    {% if(myitems) %}
        <div class="container"><br />
            <div class="navigation">
                <p>{{ knp_pagination_render(myitems) }}</p>
            </div>
            <div class="row" style="margin-top: 50px">
                {% for item in myitems %}
                    <div class="col-sm" align="center" style="margin-bottom: 50px; margin-right: 10px;">
                        <a href="{{ path('check_product', {'pageName': item.product.customUrl}) }}">
                            <img width="300" height="300" src="../../../../../uploads/image/{{ item.product.image }}" alt="">
                            <p style="color: black"><strong>Product name: {{ item.product.name }}</strong></p>
                            <p style="color: black"><strong>Quantity: {{ item.quantity }}</strong></p>
                            <p style="color: black"><strong>Price: €{{ item.price }}</strong></p>
                            <p style="color: black"><strong>Total Price: €{{ item.totalPrice }}</strong></p>
                            <p style="color: black"><strong>Bought at: {{ item.boughtAt|date("d.m.Y H:i") }}</strong></p>
                            {% if (item.confirmed == 0) %}
                                <a class="btn btn-primary" href="{{ path('choose_payment_option_user', {'id': item.id}) }}">Pay</a>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}