{% extends '/advertisement/header.html.twig' %}
{% block body %}
    {% if(mywishlist) %}
        <div class="container"><br />
            <div class="navigation">
                <p>{{ knp_pagination_render(mywishlist) }}</p>
            </div>
            <div class="row" style="margin-top: 50px">
                {% for item in mywishlist %}
                    <div class="col-sm" align="center" style="margin-bottom: 50px; margin-right: 10px;">
                        {% if item.notified == 1 %}
                            <h2>Available again</h2>
                        {% endif %}
                        <a href="{{ path('check_product', {'pageName': item.product.customUrl}) }}">
                            <img width="300" height="300" src="../../../../../uploads/image/{{ item.product.image }}" alt="">
                            <p style="color: black"><strong>Product name: {{ item.product.name }}</strong></p>
                            <p style="color: black"><strong>Available Quantity: {{ item.product.availableQuantity }}</strong></p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}