{% extends 'base.html.twig' %}
{% block categories %}
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for category in categories %}
                <a class="dropdown-item" href="{{ path('showcategories', {'id': category.id}) }}">{{ category.name }} </a>
            {% endfor %}
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('myitems') }}">My Items</a>
        </li>
    {% endif %}
{% endblock %}
{% block body %}
    <div><a class="btn btn-primary" href="{{ path('exceluser') }}">Excel file</a></div>
    {% if(myitems) %}
        <div class="container"><br />
            <div class="navigation">
                <p>{{ knp_pagination_render(myitems) }}</p>
            </div>
            <div class="row" style="margin-top: 50px">
                {% for item in myitems %}
                    <div class="col-sm" align="center" style="margin-bottom: 50px; margin-right: 10px;">
                        <a href="{{ path('checkproduct', {'id': item.product.id}) }}">
                            <img width="300" height="300" src="../../../../../uploads/image/{{ item.product.image }}" alt="">
                            <p style="color: black"><strong>Product name: {{ item.product.name }}</strong></p>
                            <p style="color: black"><strong>Quantity: {{ item.quantity }}</strong></p>
                            <p style="color: black"><strong>Price: €{{ item.price }}</strong></p>
                            <p style="color: black"><strong>Total Price: €{{ item.totalPrice }}</strong></p>
                            <p style="color: black"><strong>Bought at: {{ item.boughtAt|date("d.m.Y H:i") }}</strong></p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}