{% extends 'base.html.twig' %}
{% block categories %}
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for category in categories %}
                <a class="dropdown-item" href="{{ path('showcategories', {'id': category.id}) }}">{{ category.name }} </a>
            {% endfor %}
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('myitems') }}">My Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('mywishlist') }}">Wishlist</a>
        </li>
    {% endif %}
{% endblock %}
{% block body %}
    {% if(mywishlist) %}
        <div class="container"><br />
            <div class="navigation">
                <p>{{ knp_pagination_render(mywishlist) }}</p>
            </div>
            <div class="row" style="margin-top: 50px">
                {% for item in mywishlist %}
                    <div class="col-sm" align="center" style="margin-bottom: 50px; margin-right: 10px;">
                        {% if item.notified == 1 %}
                            <p>Available again</p>
                        {% endif %}
                        <a href="{{ path('checkproduct', {'pageName': item.product.customUrl}) }}">
                            <img width="300" height="300" src="../../../../../uploads/image/{{ item.product.image }}" alt="">
                            <p style="color: black"><strong>Product name: {{ item.product.name }}</strong></p>
                            <p style="color: black"><strong>Available Quantity: {{ item.product.availableQuantity }}</strong></p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}