{% extends 'base.html.twig' %}
{% block categories %}
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for category in categories %}
                <a class="dropdown-item" href="{{ path('showcategories', {'id': category.id}) }}">{{ category.name }} </a>
            {% endfor %}
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('myitems') }}">My Items</a>
        </li>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img width="200" height="200" src="../../../../../uploads/image/{{ product.image }}" alt="">
                <p>Product Name: {{ product.name }}</p>
                <p>Category Name: {{ product.category.name }}</p>
                <p>Seller Name: {{ product.user.firstname }} {{ product.user.lastname }}</p>
                <p>Seller email: {{ product.user.email }}</p>
                <p>Additional info: {{ product.content }}</p>
            </div>
            <div class="col-sm">
                <p>Price: {{ product.price }} Euro per product</p>
                <p>Available Quantity: {{ product.availableQuantity }} </p>
                {% if (product.availableQuantity == 0) %}
                    <p>Out of stock!</p>
                {% else %}
                    {% if is_granted('ROLE_USER') %}
                        {{   form_start(form) }}
                            {{ form_row(form.quantity) }}
                            <button type="submit" class="btn btn-primary" formnovalidate>Buy</button>
                        {{ form_end(form) }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm">
                <p>To do: recenzija, email forma</p>
            </div>
        </div>
    </div>
{% endblock %}