{% extends 'base.html.twig' %}
{% block categories %}
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for category in categories %}
                <a class="dropdown-item" href="{{ path('showcategories', {'id': category.id}) }}">{{ category.name }} </a>
            {% endfor %}
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('myitems') }}">My Items</a>
        </li>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img width="200" height="200" src="../../../../../uploads/image/{{ product.image }}" alt="">
                <p>Product Name: {{ product.name }}</p>
                <p>Category Name: {{ product.category.name }}</p>
                <p>Seller Name: {{ product.user.firstname }} {{ product.user.lastname }}</p>
                <p>Seller email: {{ product.user.email }}</p>
                <p>Seller Phone number: {{ product.user.phoneNumber }}</p>
                <p>Additional info: {{ product.content }}</p>
            </div>
            <div class="col-sm">
                <p>Price: {{ product.price }} Euro per product</p>
                <p>Available Quantity: {{ product.availableQuantity }} </p>
                {% if (product.availableQuantity == 0) %}
                    <p>Out of stock!</p>
                {% else %}
                    {% if (is_granted('ROLE_USER') and product.visibility == 1 and product.visibilityAdmin == 1)%}
                        {{ form_start(form) }}
                            {{ form_row(form.quantity) }}
                            <button type="submit" class="btn btn-primary" formnovalidate>Buy</button>
                        {{ form_end(form) }}
                    {% else %}
                        <p>Not available</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr />
        {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col-12">
                    {{ form_start(emailForm) }}
                        {{ form_row(emailForm.name) }}
                        {{ form_row(emailForm.from) }}
                        {{ form_row(emailForm.message) }}
                        <button type="submit" class="btn btn-primary" formnovalidate>Send</button>
                    {{ form_end(emailForm) }}
                </div>
            </div>
            <br /><hr />
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col-12">
                    {{ form_start(commentForm) }}
                        {{ form_row(commentForm.content) }}
                        <button type="submit" class="btn btn-primary" formnovalidate>Comment</button>
                    {{ form_end(commentForm) }}
                </div>
            </div><br />
        {% endif %}
        <p>Comments: </p>
        {% for comment in product.comments %}
            <div class="row mt-3">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mt-2 text-muted">{{ comment.createdAt|date }}</h6>
                            <h5 class="card-title">{{ comment.user.fullName }} says:</h5>
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}