{% extends '/admin/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('admin_index') }}">Back</a>
    </div><br />
    <h2>{{ message }}</h2>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Category Name</th>
            <th scope="col">User</th>
            <th scope="col">Visibility</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('checkonecategory', {'id': category.id}) }}" class="card-link">{{ category.name }}</a></td>
                <td>{{ category.user.firstname }} {{ category.user.lastname }}</td>
                <td>{% if(category.visibilityAdmin == 1) %}
                        <a class="nav-link" href="{{ path('makeNotVisible', {'id': category.id}) }}">Visible</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('makeVisible', {'id': category.id}) }}">Not Visible</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
    <hr />

    <p>New Category</p>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit" class="btn btn-primary" formnovalidate>Insert</button>
    {{ form_end(form) }}
{% endblock %}