{% extends '/admin/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('view_custom_pages_admin') }}">Back</a>
    </div><br />
    <div>
        <p>Edit page</p>
    </div>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.pageName) }}
            {{ form_row(form.content, {'attr':{class: 'contentedittool'}}) }}
            <button type="submit" class="btn btn-primary" onclick="submitOnce(this, form)" formnovalidate>Edit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}