{% extends 'base.html.twig' %}
{% block categories %}
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('list_of_users') }}">Users</a>
            <a class="dropdown-item" href="{{ path('check_apply_for_seller') }}">Appliers</a>
        </div>
    </div>
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('list_of_products') }}">Products</a>
            <a class="dropdown-item" href="{{ path('list_of_categories') }}">Categories</a>
            <a class="dropdown-item" href="{{ path('add_coupon_group') }}">Add Coupon</a>
            <a class="dropdown-item" href="{{ path('show_coupons') }}">Coupon list</a>
        </div>
    </div>
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sold items
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('view_sold_items_per_person') }}">Per person</a>
            <a class="dropdown-item" href="{{ path('view_sold_items_per_product') }}">Per product</a>
        </div>
    </div>
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('add_custom_page_admin') }}">Add page</a>
            <a class="dropdown-item" href="{{ path('view_custom_pages_admin') }}">Pages</a>
        </div>
    </div>
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Payment
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('show_payment_methods') }}">Payment methods</a>
            <a class="dropdown-item" href="{{ path('show_shipping_price') }}">Shipping prices</a>
        </div>
    </div>
{% endblock %}