{% extends '/admin/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('list_of_products') }}">Back</a>
    </div><br />
    <div>
        <p>Update the product info</p>
    </div>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.productCategory) }}
            {{ form_row(form.customUrl) }}
            {{ form_row(form.content) }}
            <button type="submit" class="btn btn-primary" id="disableButton" onclick="submitOnce(this, form)" formnovalidate>Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}