{% extends '/admin/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('listofproducts') }}">Back</a>
    </div><br />
    <div>
        <p>Update the product info</p>
    </div>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.availableQuantity) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.content) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}