{% extends '/admin/header.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('list_of_users') }}">Back</a>
    </div><br />
    <h1>User profile</h1>
        {{ form_start(profileForm) }}
        {{ form_row(profileForm.firstName) }}
        {{ form_row(profileForm.lastName) }}
        {{ form_row(profileForm.email) }}
        {{ form_row(profileForm.phoneNumber) }}
        <button class="btn btn-lg btn-primary" formnovalidate>Update</button>
    {{ form_end(profileForm) }}
{% endblock %}
