{% extends '/admin/header.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('listofusers') }}">Back</a>
    </div><br />
    <h1>New password</h1>
    {{ form_start(profileForm) }}
        {{ form_row(profileForm.plainPassword.first) }}
        {{ form_row(profileForm.plainPassword.second) }}
    <button class="btn btn-lg btn-primary" formnovalidate>Update</button>
    {{ form_end(profileForm) }}
{% endblock %}
