{% extends '/admin/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('check_apply_for_seller') }}">Back</a>
    </div><br />
    <div>
        <p>Applying for seller position</p>
    </div>
    <div>
        <p> User Name: {{ seller.user.firstname }} {{ seller.user.lastname }}</p>
        <p> User Email: {{ seller.user.email }} </p>
        <p> Why should You accept me as seller: {{ seller.applycontent  }} </p>
    </div>  <hr />

    <div>
        {% if verified == 0 %}
            <a class="btn btn-primary" href="{{ path('verify_applier', {'id': seller.id}) }}">Verify seller</a>
        {% elseif verified == 1 %}
            <a class="btn btn-primary" href="{{ path('verify_applier', {'id': seller.id}) }}">Undo verify seller</a>
        {% endif %}
    </div>
{% endblock %}