{% extends '/admin/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('admin_index') }}">Back</a>
    </div><br />
    <p>
        {{ form_start(form) }}
            {{ form_row(form.id) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Show</button>
        {{ form_end(form) }}
    </p><br/><br />
    <p><a class="btn btn-primary" href="{{ path('list_of_products') }}">Show all</a></p>
    <hr />
    <p>{{ message }}</p>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Seller</th>
            <th scope="col">Available Quantity</th>
            <th scope="col">Visibility</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
            {% for eachItem in products %}
                <tr>
                    <td><a class="nav-link" href="{{ path('update_product_info', {'id': eachItem.id}) }}">{{ eachItem.name }}</a></td>
                    <td>{{ eachItem.user.FullName }}</td>
                    <td><a class="nav-link" href="{{ path('update_product_quantity', {'id': eachItem.id}) }}">{{ eachItem.availableQuantity }}</a></td>
                    <td>
                        <a class="nav-link" href="{{ path('update_product_visibility_admin', {'id': eachItem.id}) }}">
                            {% if(eachItem.visibilityAdmin == 1) %}
                                Visible
                            {% elseif(eachItem.visibilityAdmin == 0) %}
                                Not Visible
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('update_product_image', {'id': eachItem.id}) }}" class="card-link">
                            <img width="40" height="40" src="../../../../../uploads/image/{{ eachItem.image }}" alt="">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}