{% extends '/admin/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('admin_index') }}">Back</a>
    </div><br />
    <p>
        {{ form_start(form) }}
            {{ form_row(form.id) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Show</button>
        {{ form_end(form) }}
    </p><br/><br />
    <p><a class="btn btn-primary" href="{{ path('listofproducts') }}">Show all</a></p>
    <hr />
    <p>{{ message }}</p>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Category Name</th>
            <th scope="col">Seller</th>
            <th scope="col">Available Quantity</th>
            <th scope="col">Visibility</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
        {% for item in products %}
            {% for eachitem in item %}
                <tr>
                    <td><a class="nav-link" href="{{ path('updateproductinfo', {'id': eachitem.id}) }}">{{ eachitem.name }}</a></td>
                    <td>{{ eachitem.category.name }}</td>
                    <td>{{ eachitem.user.firstname }} {{ eachitem.user.lastname}}</td>
                    <td>{{ eachitem.availableQuantity }}</td>
                    <td>
                            <a class="nav-link" href="{{ path('updateproductvisibilityadmin', {'id': eachitem.id}) }}">
                                {% if(eachitem.visibilityAdmin == 1) %}
                                    Visible
                                {% elseif(eachitem.visibilityAdmin == 0) %}
                                    Not Visible
                                {% endif %}
                            </a>
                    </td>
                    <td>
                        <a href="{{ path('updateproductimage', {'id': eachitem.id}) }}" class="card-link">
                            <img width="40" height="40" src="../../../../../uploads/image/{{ eachitem.image }}" alt="">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}