{% extends '/admin/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('admin_index') }}">Back</a>
    </div><br />
    <div>
        <p>List of users</p>
    </div>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
                <th scope="col">Change password</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a class="card-link" href="{{ path('new_user_info_admin', {'id': user.id}) }}">{{ user.firstName }} {{ user.lastName }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td><a class="card-link" href="{{ path('new_password_admin', {'id': user.id}) }}">Change password</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}