{% extends '/admin/header.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/search.css') }}">
{% endblock %}
{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('admin_index') }}">Back</a>
    </div><br />
    <p>Search user</p>
    <div>
        {{
            render(
                controller('App\\Controller\\AdvertisementController::searchBar')
            )
        }}
        <br/><br />
        <p><a class="btn btn-primary" href="{{ path('view_sold_items_per_person') }}">Show all</a></p>
    </div><hr />
    <h4 id="userNameForTable">{{ userName }}</h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Seller</th>
                <th scope="col">Buyer</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total price</th>
                <th scope="col">Bought at</th>
                <th scope="col">Method</th>
            </tr>
        </thead>
        <tbody id="tbodyChangeUser">
            {% for eachItem in soldItems %}
                <tr>
                    <td><a href="{{ path('view_sold_product_info_admin', {'id': eachItem.id}) }}" class="card-link">{{ eachItem.productName }}</a></td>
                    <td>{{ eachItem.sellerName }}</td>
                    <td>{{ eachItem.buyerName }}</td>
                    <td>{{ eachItem.quantity }}</td>
                    <td>{{ eachItem.totalPrice }}</td>
                    <td>{{ eachItem.boughtAt|date("d. m. Y. H:i") }}</td>
                    <td>
                        {% if (eachItem.ptMethod == 'Paypal') %}
                            <a class="card-link" href="{{ path('view_sold_items_per_user_payment_method', {'id': eachItem.ptId}) }}">Paid with paypal</a>
                        {% elseif (eachItem.ptMethod == 'Invoice') %}
                            <a class="card-link" href="{{ path('view_sold_items_per_user_payment_method', {'id': eachItem.ptId}) }}">Invoice</a>
                        {% elseif (eachItem.ptMethod == null) %}
                            Not chosen
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bloodhound.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/typeahead.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/mysearchuseradmin.js') }}"></script>
{% endblock %}