{% extends 'base.html.twig' %}
{% block categories %}
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('insert_product') }}">New Product</a>
            <a class="dropdown-item" href="{{ path('show_products') }}">All Products</a>
            <a class="dropdown-item" href="{{ path('show_my_products') }}">My Products</a>
        </div>
    </div>
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sold items
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('view_sold_items_per_user_seller') }}">Per person</a>
            <a class="dropdown-item" href="{{ path('view_sold_items_per_product_seller') }}">Per product</a>
        </div>
    </div>
{% endblock %}