{% extends '/seller/header.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/search.css') }}">
{% endblock %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('seller_index') }}">Back</a>
    </div><br />
    <p>Search user</p>
    <div>
        {{
            render(
                controller('App\\Controller\\AdvertisementController::searchBar')
            )
        }}
        <br/><br />
        <p><a class="btn btn-primary" href="{{ path('sold_items_per_user') }}">Show all</a></p>
    </div><hr />
    <h4 id="userNameForTable">{{ userName }}</h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Buyer</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
                <th scope="col">Bought at</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="tbodyChangeUser">
            {% for eachItem in soldItems %}
                <tr>
                    <td><a href="{{ path('view_sold_product_info', {'id': eachItem.id}) }}" class="card-link">{{ eachItem.product.name }}</a></td>
                    <td>{{ eachItem.user.fullName }}</td>
                    <td>{{ eachItem.quantity }}</td>
                    <td>{{ eachItem.price }}</td>
                    <td>{{ eachItem.totalPrice }}</td>
                    <td>{{ eachItem.boughtAt|date("d.m.Y H:i") }}</td>
                    <td>
                        {% if(eachItem.confirmed == 0) %}
                            <a class="btn btn-primary" href="{{ path('confirm_buy_per_user', {'id': eachItem.id}) }}">Confirm</a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ path('confirm_buy_per_user', {'id': eachItem.id}) }}">Confirmed</a>
                        {% endif %}
                    </td>
                    {% if(eachItem.confirmed == 0) %}
                        <td>
                            <a class="btn btn-danger" href="{{ path('delete_sold_item_per_user', {'id': eachItem.id}) }}">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bloodhound.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/typeahead.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/mysearchuserseller.js') }}"></script>
{% endblock %}