{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('seller_index') }}">Back</a>
    </div><br />
    <div>
        <p>New product</p>
    </div>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.availableQuantity) }}
            {{ form_row(form.image) }}
            {{ form_row(form.category) }}
            {{ form_row(form.content) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Insert</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#product_form_image').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
{% endblock %}