{% extends '/seller/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('seller_index') }}">Back</a>
    </div><br />
    <div>
        <p>All products</p>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Available quantity</th>
                <th scope="col">Image</th>
                <th scope="col">Visibility</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('updatemyproductinfo', {'id': product.id}) }}" class="card-link">{{ product.name }}</a></td>
                <td>{{ product.price }} Euro</td>
                <td><a href="{{ path('updatemyproductquantity', {'id': product.id}) }}" class="card-link">{{ product.availablequantity }}</a></td>
                <td>
                    <a href="{{ path('updatemyproductimage', {'id': product.id}) }}" class="card-link">
                        <img width="40" height="40" src="../../../../../uploads/image/{{ product.image }}" alt="">
                    </a>
                </td>
                <td>
                    <a class="nav-link" href="{{ path('updateproductvisibilityseller', {'id': product.id}) }}">
                        {% if(product.visibility == 1) %}
                            Visible
                        {% elseif(product.visibility == 0) %}
                            Not Visible
                        {% endif %}
                    </a>

                </td>
                <td>
                    {% if(product.visibilityAdmin == 1) %}
                        Allowed by Admin
                    {% else %}
                        Not allowed by Admin
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}